.header {
  margin: 0;
  padding: 0;
  width: 100vw;
  height:100vh;
  background-color: #344955;
  opacity: 75%;
}
.img-ludo {
  display: block;
  width: 50vw;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.presentation-container {
  display:block;
  background-color: #f9aa33;
  width: 130px;
  height: 60px;
  position: absolute;
  top: 93px;
  left: 50%;
  transform: translate(-50%, -50%);
  

 
}
.presentation {
  color: #344955;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}
.nom {
    
   text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.7rem;
    color: #fff;
    
  }


/*media tablette*/
@media (min-width: 768px) {
}
/*media petit ecran*/
@media (min-width: 992px) {
  .header {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 90vh;
    background-color: #344955;
    opacity: 75%;
    position: relative;

    top: 0;
  }

  .img-ludo {
    display: block;
    width: 50vw;
    float: left;
    margin-right: 10%;
    margin-top: 97px;
    margin-left: 8%;
  }

  .presentation-container {
    display: block;
    background-color: #f9aa33;
    width: 250px;
    height: 110px;
    margin-left: 70%;
    position: relative;
    top: 130px;
    transform: rotate(-15deg);
  }

  .presentation {
    color: #344955;
    font-size: 5rem;
    text-align: center;
  }
  .nom {
    animation: nom 4s;
    position: relative;
    top: 130px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 5rem;
    color: #fff;
    margin-top: 60px;
    transition: display 2s;
  }
  @keyframes nom {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
/*media grand ecran*/
@media (min-width: 1200px) {
}
